.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  width: 100%;
  min-height: 62.5vw;
  z-index: 1;
  text-decoration: none;
  background: url(../../../image/cover/__background.jpg) no-repeat center center;
  background-size: cover;
}
.cover__link:after {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1184px;
  height: 100%;
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s;
}

.cover__link:hover:after {
  opacity: 0.8;
  cursor: pointer;
}
@media all and (min-width: 1025px) and (max-width: 1279px) {
  .cover__link {
    min-height: calc(100vw * 0.390625 + 240px);
  }
}
@media all and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
