.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
}
.place__paragraph .place__paragraph-margin:not(:last-child) {
  margin-bottom: 24px;
}

@media all and (max-width: 692px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
@media all and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}
