@import url(./__link/cover__link.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__text-box/cover__text-box.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
  position: relative;
  padding: 92px 0;
  height: 62.5vw;
  max-height: 740px;
  width: 100%;
}


@media all and (max-width: 692px) {
  .cover {
    padding: 64px 0;
  }
}
@media all and (min-width: 693px) and (max-width: 1023px) {
  .cover {
    padding: 88px 0;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    padding: 92px 0;
  }
}
@media all and (min-width: 1280px) {
  .cover {
    padding: 92px 48px;
    width: calc(100% - 96px);
  }
}
