@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
  position: relative;
  margin: 92px 0;
  width: 100%;
}

@media all and (max-width: 692px) {
  .cover {
    margin: 64px 0;
  }
}
@media all and (min-width: 693px) and (max-width: 1023px) {
  .cover {
    margin: 88px 0;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin: 92px 0;
  }
}
@media all and (min-width: 1280px) {
  .cover {
    margin: 92px 48px;
    width: calc(100% - 96px);
  }
}
