.cover__title {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  white-space: pre-wrap;
  z-index: 1;
}

@media all and (max-width: 767px) {
  .cover__title {
    font-size: calc(8.928125vw + 3.43px);
    line-height: 1.09;
  }
}
